<a href="https://colab.research.google.com/github/wesleyroseno/colaboratory/blob/main/Curso_NVIDIA_Exerc%C3%ADcio_Desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso NVIDIA - Desafio

> Link para o dataset: https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents

Etapas do desafio:

1. Carregar o dataset usando o cuDF - como s√£o milh√µes de registros ser√° bem mais vis√≠vel a diferen√ßa usar o cuDF ao inv√©s de Pandas.
2. Remover os valores nulos
3. Remover colunas desnecess√°rias
 * Mantenha apenas as seguintes colunas: ['Severity', 'Source', 'County', 'State', 'Weather_Condition', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight', 'Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']
4. Tratamento com Label encoding
5. Balanceamento do dataset
 * Dica: nessa etapa ser√° necess√°rio trabalhar com a interoperabilidade entre as bibliotecas e ent√£o ser√° mais interessante converter para dataframe Pandas, e assim realizar os processamentos necess√°rios. Al√©m disso, ser√° util para a pr√≥xima etapa.
6. Tratamento com o encoding - como alternativa, fa√ßa o [Ordinal Encoding](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html) ao inv√©s do One Hot Encoding.
7. Escalonamento dos valores
8. Divis√£o do conjunto de treinamento
 * Dica: na sequ√™ncia, ser√° preciso converter de dataframe Pandas para cuDF
9. Treinar com o algoritmo KNeighborsClassifier
10. Realizar a predi√ß√£o e c√°lculo de acur√°cia

In [ ]:
!pip install -q kaggle

* Dentro do painel do Kaggle, acesse a p√°gina Configura√ß√µes
https://www.kaggle.com/settings

* Na se√ß√£o API, selecione o bot√£o [Create New Token]

* Ser√° baixado um arquivo chamado kaggle.json

* Envie esse arquivo para o Colab.

In [ ]:
!mkdir ~/.kaggle

In [ ]:
!cp kaggle.json ~/.kaggle/

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets list

ref                                                        title                                         size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------  -------------------------------------------  -----  -------------------  -------------  ---------  ---------------
nelgiriyewithana/top-spotify-songs-2023                    Most Streamed Spotify Songs 2023              47KB  2023-08-26 11:04:57          10133        330  1.0
carlmcbrideellis/zzzs-lightweight-training-dataset-target  Zzzs: Lightweight training dataset + target  185MB  2023-09-11 07:21:51            340         50  1.0
muhammadtalhaawan/world-export-and-import-dataset          World Export & Import Dataset (1989 - 2023)  721KB  2023-09-09 18:59:41           1115         32  1.0
josephinelsy/spotify-top-hit-playlist-2010-2022            Spotify Top Hit Playlist (2010-2022)         210KB  2023-09-08 06:11:44           1871         56  1.0
joebeachcapital/students-performance                       Students Performance                           2KB  2023-08-31 00:50:11           3290         84  1.0
iamsouravbanerjee/airline-dataset                          Airline Dataset                                8MB  2023-09-13 06:47:17           3872         93  1.0
nelgiriyewithana/global-youtube-statistics-2023            Global YouTube Statistics 2023                60KB  2023-07-28 15:36:38          19286        604  1.0
harshalhonde/starbucks-reviews-dataset                     Starbucks Reviews Dataset                    170KB  2023-09-15 08:21:59            586         30  1.0
rahulmenon1758/car-resale-prices                           Car resale data - 2023                       487KB  2023-09-12 09:28:47            617         27  1.0
mohammadrizwansajjad/top-200-movies-of-2023                 Top 200 Movies of 2023 Dataset                6KB  2023-08-31 04:40:32            952         27  1.0
lasaljaywardena/global-cryptocurrency-price-database       Global Crypto Currency Price Database        161MB  2023-09-18 00:11:57            219         81  1.0
reenapinto/flipkart-best-selling-books                     Flipkart best selling books in 2023            7KB  2023-08-18 12:23:15            893         26  1.0
nikhil1e9/loan-default                                     Loan Default Prediction Dataset                8MB  2023-09-11 17:58:24            381         29  1.0
rukenmissonnier/final-house                                 Housing Market & Prices                     136KB  2023-09-07 21:52:57            801         25  0.9411765
lorentzyeung/all-japanese-anime-titles-in-imdb             Japanese Anime: An In-Depth IMDb Data Set      3MB  2023-09-08 21:41:29            670         30  1.0
joebeachcapital/restaurant-reviews                         Restaurant Reviews                             1MB  2023-09-03 23:56:41           1430         37  1.0
ahmedsayed564/amazon-sales-dataset                         Amazon Sales Dataset üì¶                         2MB  2023-09-08 10:14:34           1004         27  0.7647059
ashpalsingh1525/tesla-stock-data                           tesla_stock_data                              10KB  2023-08-29 00:50:40            523         22  1.0
alitaqi000/world-university-rankings-2023                  World University Rankings 2023                70KB  2023-08-31 14:35:38           2399         53  1.0
jjinho/wikipedia-20230701                                  Wikipedia Plaintext (2023-07-01)              12GB  2023-07-17 01:43:57           1207         92  1.0

In [ ]:
!kaggle datasets download -d sobhanmoosavi/us-accidents

Downloading us-accidents.zip to /content
 99% 647M/653M [00:07<00:00, 133MB/s]
100% 653M/653M [00:08<00:00, 85.6MB/s]

In [ ]:
!mkdir dataset

In [ ]:
!unzip us-accidents.zip -d dataset

Archive:  us-accidents.zip
  inflating: dataset/US_Accidents_March23.csv

## Instala√ß√£o e importa√ß√£o

In [ ]:
!git clone https://github.com/rapidsai/rapidsai-csp-utils.git
!python rapidsai-csp-utils/colab/pip-install.py

Cloning into 'rapidsai-csp-utils'...
remote: Enumerating objects: 390, done.
remote: Counting objects: 100% (121/121), done.
remote: Compressing objects: 100% (70/70), done.
remote: Total 390 (delta 89), reused 51 (delta 51), pack-reused 269
Receiving objects: 100% (390/390), 107.11 KiB | 2.19 MiB/s, done.
Resolving deltas: 100% (191/191), done.
Collecting pynvml
  Downloading pynvml-11.5.0-py3-none-any.whl (53 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 53.1/53.1 kB 1.4 MB/s eta 0:00:00
Installing collected packages: pynvml
Successfully installed pynvml-11.5.0
***********************************************************************
Woo! Your instance has the right kind of GPU, a Tesla T4!
We will now install RAPIDS cuDF, cuML, and cuGraph via pip!
Please stand by, should be quick...
***********************************************************************

Looking in indexes: https://pypi.org/simple, https://pypi.nvidia.com
Collecting cudf-cu11
  Downloading https://pypi.nvidia.com/cudf-cu11/cudf_cu11-23.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (499.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 499.6/499.6 MB 3.3 MB/s eta 0:00:00
Collecting cuml-cu11
  Downloading https://pypi.nvidia.com/cuml-cu11/cuml_cu11-23.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1081.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.1/1.1 GB 1.1 MB/s eta 0:00:00
Collecting cugraph-cu11
  Downloading https://pypi.nvidia.com/cugraph-cu11/cugraph_cu11-23.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1212.4 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.2/1.2 GB 720.3 kB/s eta 0:00:00
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (3.8.5)
Requirement already satisfied: cachetools in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (5.3.1)
Collecting cubinlinker-cu11 (from cudf-cu11)
  Downloading https://pypi.nvidia.com/cubinlinker-cu11/cubinlinker_cu11-0.3.0.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.8 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 8.8/8.8 MB 61.0 MB/s eta 0:00:00
Collecting cuda-python<12.0a0,>=11.7.1 (from cudf-cu11)
  Downloading cuda_python-11.8.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.5 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 16.5/16.5 MB 35.8 MB/s eta 0:00:00
Collecting cupy-cuda11x>=12.0.0 (from cudf-cu11)
  Downloading cupy_cuda11x-12.2.0-cp310-cp310-manylinux2014_x86_64.whl (89.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 89.6/89.6 MB 9.2 MB/s eta 0:00:00
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (2023.6.0)
Collecting numba>=0.57 (from cudf-cu11)
  Downloading numba-0.57.1-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3.6/3.6 MB 69.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (1.23.5)
Collecting nvtx>=0.2.1 (from cudf-cu11)
  Downloading nvtx-0.2.8-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (582 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 582.4/582.4 kB 46.2 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (23.1)
Requirement already satisfied: pandas<1.6.0dev0,>=1.3 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (1.5.3)
Collecting protobuf<5,>=4.21 (from cudf-cu11)
  Downloading protobuf-4.24.3-cp37-abi3-manylinux2014_x86_64.whl (311 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 311.6/311.6 kB 28.5 MB/s eta 0:00:00
Collecting ptxcompiler-cu11 (from cudf-cu11)
  Downloading https://pypi.nvidia.com/ptxcompiler-cu11/ptxcompiler_cu11-0.7.0.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.8 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 8.8/8.8 MB 40.9 MB/s eta 0:00:00
Collecting pyarrow==11.* (from cudf-cu11)
  Downloading pyarrow-11.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.9 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 34.9/34.9 MB 32.1 MB/s eta 0:00:00
Collecting rmm-cu11==23.8.* (from cudf-cu11)
  Downloading https://pypi.nvidia.com/rmm-cu11/rmm_cu11-23.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.7/1.7 MB 88.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (4.5.0)
Collecting dask-cuda==23.8.* (from cuml-cu11)
  Downloading dask_cuda-23.8.0-py3-none-any.whl (122 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 122.0/122.0 kB 15.2 MB/s eta 0:00:00
Collecting dask-cudf-cu11==23.8.* (from cuml-cu11)
  Downloading https://pypi.nvidia.com/dask-cudf-cu11/dask_cudf_cu11-23.8.0-py3-none-any.whl (81 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 81.6/81.6 kB 10.4 MB/s eta 0:00:00
Collecting dask==2023.7.1 (from cuml-cu11)
  Downloading dask-2023.7.1-py3-none-any.whl (1.2 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.2/1.2 MB 64.1 MB/s eta 0:00:00
Collecting distributed==2023.7.1 (from cuml-cu11)
  Downloading distributed-2023.7.1-py3-none-any.whl (985 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 985.5/985.5 kB 58.0 MB/s eta 0:00:00
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.10/dist-packages (from cuml-cu11) (1.3.2)
Collecting raft-dask-cu11==23.8.* (from cuml-cu11)
  Downloading https://pypi.nvidia.com/raft-dask-cu11/raft_dask_cu11-23.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (214.7 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 214.7/214.7 MB 5.8 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from cuml-cu11) (1.11.2)
Collecting treelite==3.2.0 (from cuml-cu11)
  Downloading treelite-3.2.0-py3-none-manylinux2014_x86_64.whl (1.0 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.0/1.0 MB 73.1 MB/s eta 0:00:00
Collecting treelite-runtime==3.2.0 (from cuml-cu11)
  Downloading treelite_runtime-3.2.0-py3-none-manylinux2014_x86_64.whl (198 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 198.2/198.2 kB 23.4 MB/s eta 0:00:00
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask==2023.7.1->cuml-cu11) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from dask==2023.7.1->cuml-cu11) (2.2.1)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask==2023.7.1->cuml-cu11) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask==2023.7.1->cuml-cu11) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask==2023.7.1->cuml-cu11) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask==2023.7.1->cuml-cu11) (6.8.0)
Collecting pynvml<11.5,>=11.0.0 (from dask-cuda==23.8.*->cuml-cu11)
  Downloading pynvml-11.4.1-py3-none-any.whl (46 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 47.0/47.0 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: zict>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from dask-cuda==23.8.*->cuml-cu11) (3.0.0)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (3.1.2)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (1.0.0)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (1.0.5)
Requirement already satisfied: psutil>=5.7.2 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (5.9.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (2.0.0)
Requirement already satisfied: tornado>=6.0.4 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (6.3.2)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from distributed==2023.7.1->cuml-cu11) (2.0.4)
Collecting pylibraft-cu11==23.8.* (from raft-dask-cu11==23.8.*->cuml-cu11)
  Downloading https://pypi.nvidia.com/pylibraft-cu11/pylibraft_cu11-23.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (555.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 555.6/555.6 MB 2.9 MB/s eta 0:00:00
Collecting ucx-py-cu11==0.33.* (from raft-dask-cu11==23.8.*->cuml-cu11)
  Downloading https://pypi.nvidia.com/ucx-py-cu11/ucx_py_cu11-0.33.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.9 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 7.9/7.9 MB 103.6 MB/s eta 0:00:00
Collecting pylibcugraph-cu11==23.8.* (from cugraph-cu11)
  Downloading https://pypi.nvidia.com/pylibcugraph-cu11/pylibcugraph_cu11-23.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1212.4 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.2/1.2 GB 1.4 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp) (1.3.1)
Requirement already satisfied: cython in /usr/local/lib/python3.10/dist-packages (from cuda-python<12.0a0,>=11.7.1->cudf-cu11) (3.0.2)
Requirement already satisfied: fastrlock>=0.5 in /usr/local/lib/python3.10/dist-packages (from cupy-cuda11x>=12.0.0->cudf-cu11) (0.8.2)
Collecting llvmlite<0.41,>=0.40.0dev0 (from numba>=0.57->cudf-cu11)
  Downloading llvmlite-0.40.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (42.1 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 42.1/42.1 MB 15.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<1.6.0dev0,>=1.3->cudf-cu11) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<1.6.0dev0,>=1.3->cudf-cu11) (2023.3.post1)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.0->aiohttp) (3.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask==2023.7.1->cuml-cu11) (3.16.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.10.3->distributed==2023.7.1->cuml-cu11) (2.1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<1.6.0dev0,>=1.3->cudf-cu11) (1.16.0)
Installing collected packages: ptxcompiler-cu11, nvtx, cubinlinker-cu11, pynvml, pyarrow, protobuf, llvmlite, cupy-cuda11x, cuda-python, ucx-py-cu11, treelite-runtime, treelite, numba, dask, rmm-cu11, distributed, pylibraft-cu11, dask-cuda, cudf-cu11, raft-dask-cu11, pylibcugraph-cu11, dask-cudf-cu11, cuml-cu11, cugraph-cu11
  Attempting uninstall: pynvml
    Found existing installation: pynvml 11.5.0
    Uninstalling pynvml-11.5.0:
      Successfully uninstalled pynvml-11.5.0
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 9.0.0
    Uninstalling pyarrow-9.0.0:
      Successfully uninstalled pyarrow-9.0.0
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
  Attempting uninstall: llvmlite
    Found existing installation: llvmlite 0.39.1
    Uninstalling llvmlite-0.39.1:
      Successfully uninstalled llvmlite-0.39.1
  Attempting uninstall: cupy-cuda11x
    Found existing installation: cupy-cuda11x 11.0.0
    Uninstalling cupy-cuda11x-11.0.0:
      Successfully uninstalled cupy-cuda11x-11.0.0
  Attempting uninstall: numba
    Found existing installation: numba 0.56.4
    Uninstalling numba-0.56.4:
      Successfully uninstalled numba-0.56.4
  Attempting uninstall: dask
    Found existing installation: dask 2023.8.1
    Uninstalling dask-2023.8.1:
      Successfully uninstalled dask-2023.8.1
  Attempting uninstall: distributed
    Found existing installation: distributed 2023.8.1
    Uninstalling distributed-2023.8.1:
      Successfully uninstalled distributed-2023.8.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-gbq 0.17.9 requires pyarrow<10.0dev,>=3.0.0, but you have pyarrow 11.0.0 which is incompatible.
tensorflow-metadata 1.14.0 requires protobuf<4.21,>=3.20.3, but you have protobuf 4.24.3 which is incompatible.
Successfully installed cubinlinker-cu11-0.3.0.post1 cuda-python-11.8.2 cudf-cu11-23.8.0 cugraph-cu11-23.8.0 cuml-cu11-23.8.0 cupy-cuda11x-12.2.0 dask-2023.7.1 dask-cuda-23.8.0 dask-cudf-cu11-23.8.0 distributed-2023.7.1 llvmlite-0.40.1 numba-0.57.1 nvtx-0.2.8 protobuf-4.24.3 ptxcompiler-cu11-0.7.0.post1 pyarrow-11.0.0 pylibcugraph-cu11-23.8.0 pylibraft-cu11-23.8.0 pynvml-11.4.1 raft-dask-cu11-23.8.0 rmm-cu11-23.8.0 treelite-3.2.0 treelite-runtime-3.2.0 ucx-py-cu11-0.33.0
Requirement already satisfied: cupy-cuda11x in /usr/local/lib/python3.10/dist-packages (12.2.0)
Requirement already satisfied: numpy<1.27,>=1.20 in /usr/local/lib/python3.10/dist-packages (from cupy-cuda11x) (1.23.5)
Requirement already satisfied: fastrlock>=0.5 in /usr/local/lib/python3.10/dist-packages (from cupy-cuda11x) (0.8.2)

          ***********************************************************************
          The pip install of RAPIDS is complete.

          Please do not run any further installation from the conda based installation methods, as they may cause issues!

          Please ensure that you're pulling from the git repo to remain updated with the latest working install scripts.
r
          Troubleshooting:
             - If there is an installation failure, please check back on RAPIDSAI owned templates/notebooks to see how to update your personal files.
             - If an installation failure persists when using the latest script, please make an issue on https://github.com/rapidsai-community/rapidsai-csp-utils
          ***********************************************************************

In [ ]:
import cudf
import cuml
import cupy as cp

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 1) Carregamento do dataset

Faremos a leitura do dataset no .csv usando o cuDF

caso tenha problemas de falta de mem√≥ria ao ler o arquivo, uma op√ß√£o √© limitar as linhas lidas usando o par√¢metro nrows na fun√ß√£o read_csv. Exemplo: `cudf.read_csv('/content/dataset/US_Accidents_March23.csv', nrows=6_000_000)`

A GPU que atualmente √© atribu√≠da √† sess√£o grauita do Colab (T4) possui mem√≥ria mais que o suficiente para leitura de todos os dados desse dataset

In [ ]:
%time
base = cudf.read_csv('/content/dataset/US_Accidents_March23.csv')

CPU times: user 3 ¬µs, sys: 1e+03 ns, total: 4 ¬µs
Wall time: 7.15 ¬µs

In [ ]:
base.shape

(7728394, 46)

## 2) Remo√ß√£o de valores nulos

In [ ]:
df = base.dropna()

In [ ]:
df

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
3402762,A-3412645,Source1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,...,False,False,False,False,False,False,Night,Night,Night,Night
3402767,A-3412650,Source1,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,...,False,False,False,False,False,False,Day,Day,Day,Day
3402771,A-3412654,Source1,2,2016-02-08 11:51:46,2016-02-08 17:51:46,41.375310,-81.820170,41.367860,-81.821740,0.521,...,False,False,False,False,False,False,Day,Day,Day,Day
3402773,A-3412656,Source1,2,2016-02-08 15:16:43,2016-02-08 21:16:43,40.109310,-82.968490,40.110780,-82.984000,0.826,...,False,False,False,False,False,False,Day,Day,Day,Day
3402774,A-3412657,Source1,2,2016-02-08 15:43:50,2016-02-08 21:43:50,39.192880,-84.477230,39.196150,-84.473350,0.307,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.998880,-117.370940,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.765550,-117.153630,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.777400,-117.857270,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.983110,-118.395650,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.137360,-117.239340,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
type(df)

cudf.core.dataframe.DataFrame

## 3) Remo√ß√£o de colunas desnecess√°rias

In [ ]:
cols_dataset = df.columns.values.tolist()
cols_dataset

['ID',
 'Source',
 'Severity',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'Description',
 'Street',
 'City',
 'County',
 'State',
 'Zipcode',
 'Country',
 'Timezone',
 'Airport_Code',
 'Weather_Timestamp',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Sunrise_Sunset',
 'Civil_Twilight',
 'Nautical_Twilight',
 'Astronomical_Twilight']

In [ ]:
cols = ['Severity', 'Source', 'County', 'State', 'Weather_Condition', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight', 'Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']
cols

['Severity',
 'Source',
 'County',
 'State',
 'Weather_Condition',
 'Sunrise_Sunset',
 'Civil_Twilight',
 'Nautical_Twilight',
 'Astronomical_Twilight',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop']

In [ ]:
len(cols)

22

In [ ]:
drop_cols = [c for c in cols_dataset if c not in cols]
drop_cols

['ID',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'Description',
 'Street',
 'City',
 'Zipcode',
 'Country',
 'Timezone',
 'Airport_Code',
 'Weather_Timestamp',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)']

In [ ]:
df = df.drop(columns=drop_cols)

In [ ]:
df

,Source,Severity,County,State,Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
3402762,Source1,3,Franklin,OH,Light Rain,False,False,False,False,False,...,False,False,False,False,False,False,Night,Night,Night,Night
3402767,Source1,3,Hamilton,OH,Light Rain,False,False,False,False,False,...,False,False,False,False,False,False,Day,Day,Day,Day
3402771,Source1,2,Cuyahoga,OH,Snow,False,False,False,False,True,...,False,False,False,False,False,False,Day,Day,Day,Day
3402773,Source1,2,Franklin,OH,Snow,False,False,False,False,False,...,False,False,False,False,False,False,Day,Day,Day,Day
3402774,Source1,2,Hamilton,OH,Light Snow,False,False,False,False,False,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,Source1,2,Riverside,CA,Fair,False,False,False,False,False,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,Source1,2,San Diego,CA,Fair,False,False,False,False,False,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,Source1,2,Orange,CA,Partly Cloudy,False,False,False,False,True,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,Source1,2,Los Angeles,CA,Fair,False,False,False,False,False,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,Source1,2,San Bernardino,CA,Fair,False,False,False,False,False,...,False,False,False,False,False,False,Day,Day,Day,Day

## 4) Tratamento com Label encoder

In [ ]:
from cuml.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()



Faremos de um jeito melhor, ao inv√©s de escrever manualmente para cada uma das 21 colunas (lembrando que o Severity ficar√° de fora), como abaixo  

```
df['Weather_Condition'] = label_encoder.fit_transform(df['Weather_Condition'])
df['Amenity']= label_encoder.fit_transform(df['Amenity'])
[...]
```

In [ ]:
for c in cols:
  if c != 'Severity':
    df[c] = label_encoder.fit_transform(df[c])

In [ ]:
df

,Source,Severity,County,State,Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
3402762,0,3,532,33,53,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
3402767,0,3,638,33,53,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3402771,0,2,388,33,97,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3402773,0,2,532,33,97,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3402774,0,2,638,33,61,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,0,2,1258,3,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7728390,0,2,1310,3,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7728391,0,2,1098,3,76,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7728392,0,2,870,3,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7728393,0,2,1309,3,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 5) Balanceamento do dataset


Podemos checar como os valores est√£o distribu√≠dos nas diferentes categorias usando o value_counts()

In [ ]:
df['Severity'].value_counts()

2    3348445
4     112511
3      68026
1      25567
Name: Severity, dtype: int32

In [ ]:
df = df.to_pandas()

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
from sklearn.utils import resample

In [ ]:
df_s1 = df[df['Severity'] == 1]
df_s2 = df[df['Severity'] == 2]
df_s3 = df[df['Severity'] == 3]
df_s4 = df[df['Severity'] == 4]

In [ ]:
df_s1

,Source,Severity,County,State,Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
6525681,0,1,1163,2,71,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
6527285,0,1,1163,2,14,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
6540036,0,1,868,33,58,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6542183,0,1,912,2,14,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
6543739,0,1,1384,3,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7228848,0,1,1571,25,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7228849,0,1,200,25,76,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7228851,0,1,209,25,71,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7228852,0,1,1571,25,71,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7228853,0,1,1571,25,53,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
count = int(max(df_s1.count()[0], df_s2.count()[0], df_s3.count()[0], df_s4.count()[0]) / 20)

In [ ]:
count

16742

In [ ]:
df_s1 = resample(df_s1, replace=df_s1.count()[0] < count, n_samples=count, random_state=42)
df_s2 = resample(df_s2, replace=df_s2.count()[0] < count, n_samples=count, random_state=42)
df_s3 = resample(df_s3, replace=df_s3.count()[0] < count, n_samples=count, random_state=42)
df_s4 = resample(df_s4, replace=df_s4.count()[0] < count, n_samples=count, random_state=42)

In [ ]:
df = pd.concat([df_s1, df_s2, df_s3, df_s4])

In [ ]:
print(df['Severity'].value_counts())

#df.groupby(by='Severity')['Severity'].count()

1    16742
2    16742
3    16742
4    16742
Name: Severity, dtype: int64

## 6) Tratamento com o OneHot Encoding

In [ ]:
X = df.drop('Severity', axis=1)

In [ ]:
X

,Source,County,State,Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
7151782,0,912,2,14,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6929811,0,25,36,76,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7154275,0,11,3,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7081917,0,459,25,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7144570,0,46,4,76,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4360711,0,1212,4,114,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5224143,0,248,25,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3928245,0,65,29,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6778660,0,1104,32,7,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
6102421,0,535,43,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from cuml.preprocessing import OneHotEncoder
from cuml.compose import ColumnTransformer

In [ ]:
idx = [*range(0,20)]
idx

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
onehotencoder = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(sparse=False), idx)], remainder='passthrough')

In [ ]:
X = onehotencoder.fit_transform(X)

In [ ]:
X.shape

(66968, 1466)

## 7) Escalonamento dos valores

In [ ]:
from cuml.preprocessing import StandardScaler
scaler_dataset = StandardScaler()

X = scaler_dataset.fit_transform(X)

In [ ]:
print(X)
print(X.shape)

       0         1         2         3        4         5         6     \
0       0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
1       0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
2       0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
3       0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
4       0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
...     ...       ...       ...       ...      ...       ...       ...
66963   0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
66964   0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
66965   0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
66966   0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253
66967   0.0 -0.008641 -0.007729 -0.018128 -0.02117 -0.008641 -0.079253

           7         8         9     ...      1456      1457  1458      1459  \
0     -0.020814 -0.007729 -0.019708  ... -1.950454  1.950454   0.0  0.646165
1     -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0  0.646165
2     -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0  0.646165
3     -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0  0.646165
4     -0.020814 -0.007729 -0.019708  ... -1.950454  1.950454   0.0  0.646165
...         ...       ...       ...  ...       ...       ...   ...       ...
66963 -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0  0.646165
66964 -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0  0.646165
66965 -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0  0.646165
66966 -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0 -1.547619
66967 -0.020814 -0.007729 -0.019708  ...  0.512689 -0.512689   0.0  0.646165

           1460      1461      1462      1463      1464      1465
0     -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
1     -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
2     -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
3     -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
4     -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
...         ...       ...       ...       ...       ...       ...
66963 -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
66964 -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
66965 -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315
66966  1.547619 -1.697636  1.697636 -1.897201  1.897201  2.099418
66967 -0.646165  0.589053 -0.589053  0.527081 -0.527081 -0.476315

[66968 rows x 1466 columns]
(66968, 1466)

## 8) Divis√£o entre previsores e classe

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y = df['Severity']

y = LabelEncoder().fit_transform(y)

In [ ]:
y

7151782    0
6929811    0
7154275    0
7081917    0
7144570    0
          ..
4360711    3
5224143    3
3928245    3
6778660    3
6102421    3
Length: 66968, dtype: uint8

In [ ]:
y.shape

(66968,)

In [ ]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.15, random_state = 42)

In [ ]:
X_treinamento.shape, X_teste.shape, y_treinamento.shape, y_teste.shape

((56922, 1466), (10046, 1466), (56922,), (10046,))

In [ ]:
import pickle
with open('dataset.pkl', mode = 'wb') as f:
  pickle.dump([X_treinamento, y_treinamento, X_teste, y_teste], f)

## 9) Treinamento com o algoritmo

In [ ]:
from cuml.neighbors import KNeighborsClassifier

In [ ]:
with open('dataset.pkl', 'rb') as f:
  X_treinamento, y_treinamento, X_teste, y_teste = pickle.load(f)

In [ ]:
X_treinamento_cudf = cudf.DataFrame.from_pandas(X_treinamento)
X_teste_cudf = cudf.DataFrame.from_pandas(X_teste)

y_treinamento_cudf = cudf.Series(y_treinamento.values)
y_teste_cudf = cudf.Series(y_teste.values)

In [ ]:
%time

knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_treinamento, y_treinamento)

CPU times: user 3 ¬µs, sys: 1 ¬µs, total: 4 ¬µs
Wall time: 7.87 ¬µs

KNeighborsClassifier()

## 10) Predi√ß√£o e c√°lculo de acur√°cia

In [ ]:
previsoes = knn.predict(X_teste)
previsoes

61798    3
10741    0
11048    3
63662    3
26151    1
        ..
27849    2
37385    3
41310    2
29818    3
25400    0
Length: 10046, dtype: uint8

In [ ]:
from cuml.metrics import accuracy_score

In [ ]:
accuracy_score(y_teste, previsoes)

0.6036233305931091

In [ ]:
import locale
locale.getpreferredencoding = lambda: "UTF-8"

In [ ]:
!nvidia-smi

Mon Sep 18 14:13:42 2023
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 525.105.17   Driver Version: 525.105.17   CUDA Version: 12.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   46C    P0    25W /  70W |   7579MiB / 15360MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+